<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <% if task.completed %>
    <input type="checkbox" checked>
  <% else %>
    <input type="checkbox">
  <% end %>
  <label for="task"><%= link_to task.title, task_path(task) %></label>
  <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do%>
      <i class="fas fa-trash-alt"></i>
  <% end %>
  <br>
<% end %>

<hr style='margin: 30px 0'>

<%= link_to new_task_path do%>
    <i class="fas fa-plus-circle">Add a new task</i>
<% end %>
