<h1><%= @task.title %></h1>

<%= link_to task_edit_path do%>
    <i class="fas fa-edit"></i> Edit task</i>
<% end %>


<div class="task-details">
  <p><%= @task.details %></p>
</div>

<div class="task-check">
  <% if @task.completed %>
    <input type="checkbox" checked>
  <% else %>
    <input type="checkbox">
  <% end %>
  <label>This task is completed</label>
</div>

<hr style='margin: 30px 0'>
  <%= link_to tasks_path do%>
    <i class="fas fa-backward"> Back to list</i>
  <% end %>
